<div class="accordion" class="list-group"  id="accordionExample">
  <div *ngFor="let task of tasks" class="accordion-item">
    <h2 class="accordion-header" attr.id="heading{{task.title}}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + task.title" aria-expanded="true" attr.aria-controls="collapse{{task.title}}">
        {{task.title}}
      </button>
    </h2>
  <div attr.id="collapse{{task.title}}" class="accordion-collapse collapse" attr.aria-labelledby="heading{{task.title}}" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        {{task.description}}
        <button class="btn btn-success" style="float: right; margin-bottom: 10px;">Done</button>
    </div>
  </div>
</div>  
</div>