body{
    height: 812px;
    background: linear-gradient(154deg, #4758F3 -2.45%, rgba(243, 129, 245, 0.49) 60.55%, rgba(255, 237, 70, 0.53) 104.6%);
}

.header{
    background: rgba(255, 255, 255, 0.7);
    height: 10%;
    width: 100%;
}

.logodiv{
    display: inline-block;
    height: 100%;
}

.logo{
    height: 100%;
    border-radius: 50%;
    padding: 10%;
    /* display: inline-block; */
}

.button {
    background-color: rgb(240, 239, 239);
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

.pill{
    display: inline-block;
    padding-left: 10%;
}

.questpill{
    font-weight: bold;
    display: inline-block;
    width: 120px;
    border-radius: 15px;
}

.profilepill{
    background: gray;
    color: white;
    font-weight: bold;
    display: inline-block;
    width: 120px;
    border-radius: 15px;
    margin-left: -20px;
}

