<meta name="referrer" content="unsafe-url">
<form ngNativeValidate #userForm="ngForm">{{userForm.value | json}}
    <label>Submit username:</label><br>
    <input type="text" id="username" name="username" ngModel>
    <button type="submit" (click)="registrate(userForm.value)">
        Submit
    </button>
</form>


<!-- <div class = "container">
    <ul class ="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <label>Submit username:</label><br>
            <input type="text" id="username" name="username"><br>
            <button>
                Submit
            </button>
        </li>
    </ul>
</div> -->