/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.shell{
    justify-content: center;
    align-items: center;
    height: 55%;
    background: rgba(255, 255, 255, 0.199);
    border-radius: 10px;
    margin: 2%;
    margin-top: 2%;
    display: block;
    backdrop-filter: none;
    box-shadow: rgba(31, 38, 135, 0.37) 0px 8px 32px 0px; 
    border: 1px solid rgba(255, 255, 255, 0.18);
    overflow-x: hidden;
}

.achievement{
    width: 15vw;
    height: 15vw;
    margin: auto;
    border-radius: 50%;
    background: rgb(59,59,120);
    background: linear-gradient(323deg, rgba(59,59,120,0.3) 16%, rgba(104,230,255,0.3) 100%);
    text-align: center;
    vertical-align: middle;
    margin-top: 10%;
    margin-bottom: 10%;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

