<div class="shell">
    <table>
        <tr>
            <td>
                <div class="achievement">
                    <span class="helper"></span>
                    <img src="./assets/pictures/coffee_achievement.png" alt="coffee_achievement"/>
                </div>
            </td>
            <td>
                <div class="achievement">
                    <span class="helper"></span>
                    <img src="./assets/pictures/beer_achievement.png" alt="coffee_achievement"/>
                </div>
            </td>
            <td>
                <div class="achievement">
                    <span class="helper"></span>
                    <img src="./assets/pictures/colleague_achievement.png" alt="coffee_achievement"/>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="achievement"></div>
            </td>
            <td>
                <div class="achievement"></div>
            </td>
            <td>
                <div class="achievement"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="achievement"></div>
            </td>
            <td>
                <div class="achievement"></div>
            </td>
            <td>
                <div class="achievement"></div>
            </td>
        </tr>
    </table>
</div>