<button type="button" class="btn btn-primary" (click)="logout()">Logout
</button>

<div class="shell">
    <p id="pdf">
    <qr-code class="qrcode" [value]="'{{user.username}}'" [size]=75 level="H"></qr-code>
    </p>
    <div class="profiledetails">
        {{user.username}}<br/>
        {{user.email}}<br/>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 100px" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
    </div>
</div>

<br/>
