button {
    width: 250px;
    height: 60px;
}
.tm-logo {
    border-radius: 50%;
}
.container {
    padding-top: 20px;
}
.nav-tabs {
    border-bottom: 0px !important;
}
.loginBox {
    position:relative;
    padding-top: 50px;
}
.box {
    position: relative;
    width: 400px;
    height: 200px;
    align-items: center;
    margin:auto;
}
.btnContainer {
    position:relative;
    margin:auto;
    padding-top: 18%;
}
