<script src="QRDownload.js"></script>
<div class="shell">
    <div class="form-group">
      <div class="row">
         <div class="col-4">
          <div class="QRDownload-page">
              <span class="helper"></span>
          </div>
          <div class="vertical-center container ">
          <button class="btn btn-primary"  style="margin-right: 5%;" (click)="PreviewQRCodeDiv()">Preview/print QR code</button>
          <button class="btn btn-primary"   style="margin-right: 5% " (click)="saveDiv()">Download QR code</button>
        </div>
        </div>
      </div>
   </div>
</div>
