.header{
    position: sticky;
    top: 0;
    background: rgb(226, 215, 233);
    height: 10%;
    width: 100vw;
    text-align: center;
}


.logodiv{
    display: inline-block;
    height: 100%;
    position: relative;
}

.logo{
    height: 100%;
    border-radius: 50%;
    padding: 10%;
    display: inline-block;
}

.button {
    background-color: #F0EFEF;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

.pillshell{
    display: inline-block;
    padding-left: 10%;
}

.pill{
    color: black;
    position: relative;
    font-weight: bold;
    display: inline-block;
    width: 120px;
    border-radius: 15px;
    margin-right: -20px;
    z-index: 0;
}

.activepill{
    background: gray;
    color: white;
    font-weight: bold;
    display: inline-block;
    width: 120px;
    border-radius: 15px;
    z-index: 1;
}

.confetti-fx {
  position: relative;
}

