<body>
    <div class="header">
        <div class="logodiv">
            <img class="logo" src="./assets/pictures/Taxmodel_logo.jpg" alt="logo"/>
        </div>
        <div class="pill">
            <button class="button questpill">
                Quests
            </button>
            <button class="button profilepill">
                Profile
            </button>
        </div>
        <div>
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
        </div>
    </div>
</body>

