<app-header></app-header>
<div class="shell">
  <div class="profile-details">
    Name: {{user.username}}<br/>
  </div>
</div><br/>
<div class="pillshell">
  <button class="btn btn-primary" id="btnBadge" type="submit" style="margin-right: 10px;" [disabled]="badgeBtn" (click)="badgeBtnClick()" routerLink='/public/badges' asGlass>Badges</button>
  <button class="btn btn-primary" type="submit" [disabled]="achievementBtn" (click)="achievementBtnClick()" routerLink='/public/achievements' asGlass>Achievements</button>
</div>
<router-outlet></router-outlet>
