
.shell{
    justify-content: center;
    align-items: center;
    height: 55%;
    background: rgba(255, 255, 255, 0.199);
    border-radius: 10px;
    margin: 2%;
    margin-top: 2%;
    display: block;
    backdrop-filter: none;
    box-shadow: rgba(31, 38, 135, 0.37) 0px 8px 32px 0px; 
    border: 1px solid rgba(255, 255, 255, 0.18);
    overflow-x: hidden;
}

ul 
{
    padding-left: 0px;
    margin:0px;
}

li
{
    text-align: left;
}

.list-group
{
    border: 0px;
}

.accordion-item
{
    border: 0px;
}

.accordion-button:focus, .accordion-button:not(.collapsed)
{
    outline:none;
    box-shadow: none;
    text-decoration: none;
    color:currentColor;
}

.achievement
{
    padding: 0;
    background-color: transparent;
    color: white;
}

.achievement.header
{
    padding: 5px;
}

.achievement.group
{
    width:20em;
    margin: auto;
    border-radius: .5em;
}

.achievement.info
{
    padding-left: 10px;
}