ul 
{
    padding-left: 0px;
    margin:0px;
}

li
{
    text-align: left;
}

.list-group
{
    border: 0px;
}

.accordion-item
{
    border: 0px;
}

.accordion-button:focus, .accordion-button:not(.collapsed)
{
    outline:none;
    box-shadow: none;
    text-decoration: none;
    color:currentColor;
}

.achievement
{
    padding: 0;
    background-color: transparent;
    color: white;
}

.achievement.header
{
    padding: 5px;
}

.achievement.group
{
    width:20em;
    margin: auto;
    border-radius: .5em;
}

.achievement.info
{
    padding-left: 10px;
}